## Label Encoding 
    Label Encoding is a data preprocessing technique used in machine learning to convert categorical (text/string) data into numerical values so that algorithms can process them.
    Machine learning models cannot directly understand categorical text data. Label encoding provides a way to represent categories as numbers.
   
    -> Label encoding helps ::
    - Convert categorical data into numeric form
    - Preserve category identity
    - Enable algorithms to process categorical features

### Where Is Label Encoding Used?
    1. Target Variable (Output Labels)
    Classification problems
    Classes like: Yes/No, Spam/Not Spam, Setosa/Versicolor
    
    2. Ordinal Categorical Features
    Categories with natural order
    Example:
    Low < Medium < High
    Poor < Average < Good < Excellent

### How Label Encoding Works 
    - Identify unique categories
    - Assign an integer value to each category
    - Replace original category with its numeric label

### Ordinal vs Nominal Categories 
    1. Ordinal Categories
    Have a meaningful order
    Label encoding is appropriate
    
    2. Nominal Categories
    No natural order
    Label encoding can introduce incorrect relationships

### Importing Essentital Libraries

In [138]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
import warnings
warnings.filterwarnings("ignore")

### Load House price dataset

In [140]:
data = pd.read_csv("train.csv")
data.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

### Columns of dataset

In [142]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

### Extracting features for label enocding

In [144]:
data1 = data[["KitchenQual","BldgType","SaleType"]]
data1.head()

  KitchenQual BldgType SaleType
0          Gd     1Fam       WD
1          TA     1Fam       WD
2          Gd     1Fam       WD
3          Gd     1Fam       WD
4          Gd     1Fam       WD

### Label Enoding through LabelEncoder()

In [146]:
le = LabelEncoder()
data1['BldgType'] = le.fit_transform(data1['BldgType'])

### Label Encoding through mapping

In [148]:
data1['KitchenQual'].value_counts()

KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64

- Kitchen Quality :
- Ex :: Excellent
- Gd :: Good
- TA :: Typical/Average
- Fa :: Fair

In [150]:
label_kit = {"Ex":1,"Gd":2,"TA":3,"Fa":4}
data1['KitchenQual'] = data1['KitchenQual'].map(label_kit)

### Label Encoding Mapping

In [168]:
data1['SaleType'].value_counts()

SaleType
1    1267
3     122
4      43
6       9
7       5
8       5
2       4
9       3
5       2
Name: count, dtype: int64

In [154]:
label_sale_type = { "WD":1, "CWD":2, "New":3, "COD":4, "Con":5, "ConLD":6, "ConLI":7, "ConLw":8, "Oth":9}
data1['SaleType']  = data1['SaleType'].map(label_sale_type)

In [155]:
data1.sample(5)

      KitchenQual  BldgType  SaleType
370             3         0         1
1169            2         0         1
1060            2         4         1
600             1         0         1
1375            2         0         3